/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
font-family: 'Source Sans Pro', sans-serif;

font-family: 'Volkhov', serif;
 */

/* GLOBAL */
html,
body {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;

}

.container {
    max-width: 80%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Volkhov', serif;
    margin: 0;
    padding: 0;
}

p {
    color: #707070;
    margin: 0;
    padding: 0;
}


/* <!-- HEADER --> */


/* <!-- /HEADER --> */

/* <!-- BANNER --> */

/* <!-- /BANNER --> */

/* <!-- FEATURES --> */

/* <!-- /FEATURES --> */

/* <!-- SERVICES --> */

/* <!-- /SERVICES --> */

/* <!-- REASONS --> */

.reasons__left h3 {
    color: #fb811e;
    font-size: 22px;
}

.reasons__left h2 {
    color: black;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.reasons__left p {
    margin-bottom: 70px;
}

.reasons__left h4 {
    font-size: 24px;
}

.reasons__left i {
    color: #fb811e;
    font-size: 30px;
}

.reasons__left-detail h4 {
    font-weight: 600;
}

.reasons__right .reasons__right-number {
    background-color: #fb811e;
    border-radius: 0 0 100px 0;
    padding: 35px 60px;
    width: 300px;
    text-align: center;
    position: absolute;
    left: -85px;
    bottom: 35px;
}

.reasons__right .reasons__right-number h1 {
    font-size: 70px;
    color: white;
    font-weight: 600;
}

.reasons__right .reasons__right-number p {
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.reasons__right img {
    height: 580px;
    border-radius: 30px;
}

/* <!-- /REASONS --> */

/* <!-- GALLERY --> */

/* <!-- /GALLERY --> */

/* <!-- FEEDBACK --> */

/* <!-- /FEEDBACK --> */

/* <!-- FOOTER --> */

/* <!-- /FOOTER --> */

/* <!-- BACKTOTOP --> */

/* <!-- /BACKTOTOP --> */