/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
font-family: 'Source Sans Pro', sans-serif;

font-family: 'Volkhov', serif;
 */

/* GLOBAL */
html,
body {
    font-family: 'Volkhov', serif;

}

.container{
    width: 80%;
    margin: auto;
}

/* <!-- HEADER --> */


/* <!-- /HEADER --> */

/* <!-- BANNER --> */

/* <!-- /BANNER --> */

/* <!-- FEATURES --> */

/* <!-- /FEATURES --> */

/* <!-- SERVICES --> */

/* <!-- /SERVICES --> */

/* <!-- REASONS --> */

/* <!-- /REASONS --> */

/* <!-- GALLERY --> */

/* <!-- /GALLERY --> */

/* <!-- FEEDBACK --> */

/* <!-- /FEEDBACK --> */

/* <!-- FOOTER --> */

/* <!-- /FOOTER --> */

/* <!-- BACKTOTOP --> */

/* <!-- /BACKTOTOP --> */